@import url("../css/bootstrap.min.css");
@import url("../css/animate.css");
@import url("../fonts/feather/feather.css");
@import url("../css/owl.theme.default.min.css");
@import url("../css/owl.carousel.min.css");
@import url("../css/font-awesome.min.css");
@import url("../fonts/muli/muli.css");
@import url("../fonts/fontawesome-free-5.14.0-web/css/all.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  background-color: #fafbfc;
  color: #1c283a;
}

p {
  color: #1c283a;
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c283a;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

img {
  width: 100%;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

p {
  line-height: 32px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn-link {
  color: #0d373d;
}

.btn-link:hover {
  color: #1eb7b3 !important;
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}

.fas.fa-times {
  -webkit-text-stroke: 1px #fff;
}

.btn-primary {
  background-color: #1eb7b3;
  border-color: #1eb7b3;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  outline: 0 !important;
  border-radius: 3px !important;
  font-family: "Muli" !important;
  font-weight: 700 !important;
}

.btn-primary:hover {
  background-color: #1eb7b3;
  border-color: #1eb7b3;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4);
          box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4);
}

.btn-primary:focus {
  background-color: #1eb7b3;
  border-color: #1eb7b3;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4) !important;
          box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4) !important;
}

.btn-primary:not(:disabled):active {
  background-color: #1eb7b3 !important;
  border-color: #1eb7b3 !important;
  color: #fff !important;
}

.btn-secondary {
  background-color: #191919;
  border-color: #191919;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  outline: 0 !important;
  border-radius: 3px !important;
  font-family: "Muli" !important;
  font-weight: 700 !important;
}

.btn-secondary:hover {
  background-color: #191919;
  border-color: #191919;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 15px 0 rgba(25, 25, 25, 0.4);
          box-shadow: 0 3px 15px 0 rgba(25, 25, 25, 0.4);
}

.btn-secondary:focus {
  background-color: #191919;
  border-color: #191919;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 15px 0 rgba(25, 25, 25, 0.4) !important;
          box-shadow: 0 3px 15px 0 rgba(25, 25, 25, 0.4) !important;
}

.btn-secondary:not(:disabled):active {
  background-color: #191919 !important;
  border-color: #191919 !important;
  color: #fff !important;
}

.btn-transparent {
  background-color: transparent;
  border-color: #09343b;
  color: #09343b;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  outline: 0 !important;
  border-radius: 3px !important;
  font-family: "Muli" !important;
  font-weight: 700 !important;
}

.btn-transparent:hover {
  background-color: #09343b;
  border-color: #09343b;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4);
          box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4);
}

.btn-transparent:focus {
  background-color: #09343b;
  border-color: #09343b;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4) !important;
          box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4) !important;
}

.btn-transparent:not(:disabled):active {
  background-color: #09343b !important;
  border-color: #09343b !important;
  color: #fff !important;
}

.btn-green {
  background-color: #09343b;
  border-color: #09343b;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  outline: 0 !important;
  border-radius: 3px !important;
  font-family: "Muli" !important;
  font-weight: 700 !important;
}

.btn-green:hover {
  background-color: #09343b;
  border-color: #09343b;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4);
          box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4);
}

.btn-green:focus {
  background-color: #09343b;
  border-color: #09343b;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4) !important;
          box-shadow: 0 3px 15px 0 rgba(30, 183, 179, 0.4) !important;
}

.btn-green:not(:disabled):active {
  background-color: #09343b !important;
  border-color: #09343b !important;
  color: #fff !important;
}

.btn.btn-icon {
  background-color: #fff;
  border-color: #e6e6e6;
  color: #1c283a;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: 0 !important;
  height: 50px;
  padding: 6px 15px;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn.btn-icon i {
  margin-right: 10px;
  font-size: 30px;
}

.btn.btn-icon:hover {
  background-color: #6fb02f;
  border-color: #6fb02f;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
}

.btn.btn-icon:focus {
  background-color: #6fb02f;
  border-color: #6fb02f;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
}

.btn {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
}

.btn-lg {
  height: 50px;
  line-height: 30px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
}

.btn-pad-60 {
  padding: 8px 60px;
}

.btn-pad-100 {
  padding: 10px 100px;
}

.btn-uppercase {
  text-transform: uppercase;
}

.btn-100 {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group .has-float-label {
  width: 100%;
  margin-bottom: 0;
}

.form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #cccccc;
  height: 50px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  outline: 0;
  color: #09343b;
  padding: 18px 15px 6px 15px;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-group .form-control::-webkit-input-placeholder {
  color: #cccccc;
}

.form-group .form-control:-ms-input-placeholder {
  color: #cccccc;
}

.form-group .form-control::-ms-input-placeholder {
  color: #cccccc;
}

.form-group .form-control::placeholder {
  color: #cccccc;
}

.form-group .form-control:focus {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  border: 1px solid #09343b;
}

.form-group .form-control:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  border: 1px solid #09343b;
}

.form-group span.text {
  display: block;
  width: 100%;
  margin: 5px 15px;
  color: #cccccc;
}

.dropdown-menu ul li .dropdown-item {
  background-color: #fafafa;
  color: #09343b;
}

.dropdown-menu ul li .dropdown-item:hover {
  background-color: #1eb7b3;
  color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1eb7b3 !important;
  color: #fff;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  border: 0;
}

.select2-container--default .select2-selection--single {
  outline: 0;
  height: 50px !important;
  border: 1px solid #ebebeb !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 1px solid #09343b;
  height: 50px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 50px !important;
  font-weight: 400;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px !important;
  width: 30px !important;
}

.form-group.form-gray {
  margin-bottom: 30px;
}

.form-group.form-gray .form-control {
  border: 1px solid #ebebeb;
  height: 63px;
  background-color: #ebebeb;
  border-radius: 0;
  font-size: 14px;
  line-height: 30px;
  outline: 0;
  color: #222222;
  letter-spacing: 0.6px;
  padding: 8px 20px;
  font-weight: 500;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-group.form-gray .form-control::-webkit-input-placeholder {
  color: #aaaaaa;
}

.form-group.form-gray .form-control:-ms-input-placeholder {
  color: #aaaaaa;
}

.form-group.form-gray .form-control::-ms-input-placeholder {
  color: #aaaaaa;
}

.form-group.form-gray .form-control::placeholder {
  color: #aaaaaa;
}

.form-group.form-gray .form-control:focus {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 128, 49, 0.3);
          box-shadow: 0 0 0 0.2rem rgba(245, 128, 49, 0.3);
}

.form-group.form-gray .form-control:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 128, 49, 0.3);
          box-shadow: 0 0 0 0.2rem rgba(245, 128, 49, 0.3);
}

.input-group .input-group-addon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  height: 50px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 10px 10px 0 !important;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 19px;
  top: 2px;
  position: relative;
}

.input-group .form-control {
  padding-right: 60px;
  border-radius: 3px;
  padding: 18px 15px 6px 15px;
  overflow: hidden;
}

.input-group-2 {
  position: relative;
}

.input-group-2 .input-group-addon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  height: 50px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 10px 10px 0 !important;
}

.input-group-2 .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group-2 .input-group-addon i {
  font-size: 20px;
}

.input-group-2 .form-control {
  padding-left: 60px;
  border-radius: 10px !important;
  overflow: hidden;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: rgba(9, 52, 59, 0.7);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.svg-icon-2 {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-color: rgba(9, 52, 59, 0.4);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icon-stackable {
  -webkit-mask: url(../images/icons/icon1.svg) no-repeat 50% 50%;
  mask: url(../images/icons/icon1.svg) no-repeat 50% 50%;
  width: 40px;
  height: 40px;
}

.icon-stackable-none {
  -webkit-mask: url(../images/icons/icon2.svg) no-repeat 50% 50%;
  mask: url(../images/icons/icon2.svg) no-repeat 50% 50%;
  width: 40px;
  height: 40px;
}

.icon-mail {
  -webkit-mask: url(../images/icons/mail.svg) no-repeat 50% 50%;
  mask: url(../images/icons/mail.svg) no-repeat 50% 50%;
  width: 19px;
  height: 19px;
}

.icon-key {
  -webkit-mask: url(../images/icons/key.svg) no-repeat 50% 50%;
  mask: url(../images/icons/key.svg) no-repeat 50% 50%;
  width: 20px;
  height: 20px;
}

.icon-phone {
  -webkit-mask: url(../images/icons/mobile.svg) no-repeat 50% 50%;
  mask: url(../images/icons/mobile.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-calendar {
  -webkit-mask: url(../images/icons/calendar.svg) no-repeat 50% 50%;
  mask: url(../images/icons/calendar.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.focus-hover .svg-icon {
  background-color: #09343b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.focus-hover i {
  color: #09343b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flatpickr-day.today {
  border-color: #0d373d !important;
}

.flatpickr-day:hover {
  background-color: #0d373d !important;
  border-color: #0d373d !important;
  color: #fff;
}

.flatpickr-day.selected {
  background-color: #0d373d !important;
  border-color: #0d373d !important;
}

/*###########################################################################
############################## header section ###############################*/
.fixed-top {
  background-color: #fff;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .dropdown-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header .dropdown-user a {
  font-size: 14px;
  line-height: 18px;
  color: #343333;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .dropdown-user a .avtar {
  height: 40px;
  width: 40px;
  min-width: 40px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .dropdown-user a .avtar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .dropdown-user .dropdown-menu {
  background: #fff;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 6px 6px;
  right: -20px;
  top: 20px;
  left: auto !important;
  min-width: 180px;
  border: 0 solid #f1f1f1;
}

.header .dropdown-user .dropdown-menu::before {
  content: "";
  border-top: 10px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 7px solid transparent;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 17px;
}

.header .dropdown-user .dropdown-menu ul li a .fe {
  font-size: 20px;
  font-weight: 500;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  z-index: 999;
  border-bottom: 1px solid rgba(236, 236, 236, 0.6);
  padding: 0;
}

.header .navbar .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .navbar .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  max-width: 150px;
}

.header .navbar .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 150px);
          flex: 0 0 calc(100% - 150px);
  max-width: calc(100% - 150px);
}

.header .navbar .navbar-brand {
  width: 120px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-toggler {
  padding: 0;
  outline: 0 !important;
  border: 0;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("../../assets/images/menubar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 22px;
  width: 34px;
  border: 0;
}

.header .navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  top: 8px;
  border: 0;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navbar .collapse1 .navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #343333;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 20px;
  font-weight: 600;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
  border-radius: 5px;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #1eb7b3;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #1eb7b3;
}

.header .navbar .collapse1 .navbar-nav .nav-item.btn-nav .btn {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 42px;
  font-size: 20px;
  line-height: 27px;
  padding: 6px 45px;
  color: #09343B;
  border-color: rgba(9, 52, 59, 0.22);
  font-weight: 700;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .collapse1 .navbar-nav .nav-item.btn-nav .btn:hover {
  background-color: #09343B;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .nav-btn {
  width: auto;
}

.header-2 .navbar .navbar-toggler {
  top: -10px;
}

.sidenav-new-menu .closebtn {
  display: none;
}

.custom-checkbox .custom-control-label {
  font-size: 12px;
  line-height: 27px;
  padding-left: 8px;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: 0.4px;
  color: #222222;
}

.custom-checkbox .custom-control-label::before {
  height: 19px;
  width: 19px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.custom-checkbox .custom-control-label::after {
  top: 2px;
  left: -26px;
  display: block;
  width: 22px;
  height: 22px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1eb7b3 !important;
  border-color: #1eb8b3 !important;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 3px 15px 0 rgba(30, 184, 179, 0.4);
          box-shadow: 0 3px 15px 0 rgba(30, 184, 179, 0.4);
}

/*############################## Home section ###############################*/
.closebtn img {
  width: 22px;
  height: 21px;
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media (max-width: 767px) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .header .navbar .row-100 {
    width: 100%;
    margin: 0;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .row-100 .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .row-100 .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .row-100 .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .row-100 .navbar-brand {
    width: 120px;
    height: auto;
  }
  .header .navbar .row-100 .navbar-brand img {
    width: 100%;
  }
  .header .navbar .collapse1 {
    padding: 10px 0;
    display: block !important;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
    background-color: transparent;
    color: #1c283a;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    background-color: transparent;
    color: #1eb7b3;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
    background-color: transparent;
    color: #1eb7b3;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.btn-nav .btn {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 38px;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 35px;
  }
  .header .navbar .nav-btn {
    margin: 10px 0 0 0;
    text-align: center;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(28, 40, 58, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 50px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #1c283a;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #1c283a;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  .header .dropdown-user {
    margin-right: 60px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  .header .dropdown-user {
    margin-right: 80px;
  }
  .header .navbar {
    z-index: 999;
  }
  .header .navbar .collapse1 {
    display: block !important;
  }
  .header .navbar .collapse1 .navbar-nav {
    display: inline-block;
    margin-left: 0 !important;
    padding-bottom: 30px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    color: #1c283a;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    background-color: transparent;
    color: #1eb7b3;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
    background-color: transparent;
    color: #1eb7b3;
  }
  .header .navbar .nav-btn {
    text-align: center;
    white-space: nowrap;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(28, 40, 58, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 50px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 35%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #1c283a;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #1c283a;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    display: block;
  }
  .banner-section {
    padding: 60px 0;
  }
  .banner-section .content-left {
    padding: 0px 0;
    margin-bottom: 40px;
  }
  .banner-section .content-left h2 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 40px;
  }
  .banner-section .content-left .btn-primary {
    height: 50px;
    padding: 8px 40px;
    line-height: 34px;
  }
  .banner-section .content-right {
    display: block;
  }
  .banner-section .content-right img {
    display: block;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(28, 40, 58, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 30%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #1c283a;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #1c283a;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    display: block;
  }
}

/*######################################################################

middle sectio start here

#################################################################### */
.middle-section {
  margin: 80px 0 0 0;
}

.middle-section .authentication-box {
  padding-top: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.middle-section .authentication-box::after {
  content: "";
  background-image: url(../images/pattern.svg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: -50%;
  bottom: 10%;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.middle-section .authentication-box::before {
  content: "";
  background-image: url(../images/pattern-2.svg);
  background-size: 100% 100%;
  background-position: center;
  display: block;
  position: absolute;
  left: -50%;
  top: 10%;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.middle-section .authentication-box .authentication-box-inner {
  min-height: calc(100vh - 160px);
  z-index: 2;
  position: relative;
  width: 100%;
}

.middle-section .authentication-box .container {
  width: 100%;
  margin: 0 auto;
}

.middle-section .authentication-box .content-box .login-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 31px;
  max-width: 500px;
  width: 100%;
}

.middle-section .authentication-box .content-box .login-header .login-logo {
  width: 110px;
  height: auto;
}

.middle-section .authentication-box .content-box .login-body {
  max-width: 500px;
  width: 100%;
  padding: 40px 56px;
  background-color: #fff;
  margin: 0 auto 20px auto;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
}

.middle-section .authentication-box .content-box .login-body .title h3 {
  font-size: 14px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.middle-section .authentication-box .content-box .login-body .password-sent-img {
  max-width: 260px;
  margin: 50px auto 80px auto;
}

.middle-section .authentication-box .content-box .login-body .password-sent-img img {
  width: 100%;
}

.middle-section .authentication-box .content-box .login-body .password-sent-info h3 {
  color: #343333;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
}

.middle-section .authentication-box .content-box .login-body .password-sent-info p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.4px;
  text-align: center;
}

.middle-section .authentication-box .content-box .login-body .forgot-link {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #0d373d;
  text-align: center;
  width: 100%;
  display: block;
}

.middle-section .authentication-box .content-box .password-sent-body {
  background-image: url(../images/password-sent.svg);
  background-position: 100% -10%;
  background-size: contain;
  background-repeat: no-repeat;
}

.middle-section .login-footer {
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.middle-section .login-footer p {
  font-size: 18px;
  line-height: 23px;
  color: #343333;
  font-family: "Muli";
}

.middle-section .login-footer a {
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  color: #0d373d;
  font-weight: 700;
}

.middle-section .login-footer a:hover {
  color: #1eb7b3;
}

.middle-section .dashbaord-section {
  margin-top: 40px;
  height: 50px;
}

.middle-section .dashbaord-section .add-shipment-main .add-new-shipment {
  margin-bottom: 40px;
}

.middle-section .dashbaord-section .add-shipment-main .add-new-shipment .btn-add-ship {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 22px;
  line-height: 27px;
  font-weight: 800;
}

.middle-section .dashbaord-section .add-shipment-main .add-new-shipment .btn-add-ship i {
  font-weight: 600;
}

.middle-section .dashbaord-section .summary-status-main {
  margin-bottom: 20px;
}

.middle-section .dashbaord-section .summary-status-main .heading h4 {
  font-size: 22px;
  line-height: 27px;
  color: #0d373d;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .middle-section .dashbaord-section .summary-status-main .heading h4 {
    font-size: 18px;
    line-height: 24px;
    color: #0d373d;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.middle-section .dashbaord-section .summary-status-main .status-box {
  background-color: #fff;
  padding: 10px 36px 20px 36px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.middle-section .dashbaord-section .summary-status-main .status-box h3 {
  font-size: 42px;
  line-height: 43px;
  color: #1eb7b3;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
}

.middle-section .dashbaord-section .summary-status-main .status-box p {
  font-size: 16px;
  line-height: 19px;
  color: #30475e;
  font-weight: 400;
  margin-bottom: 0;
}

.middle-section .dashbaord-section .summary-status-main .status-box .dot {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #000;
  display: inline-block;
}

.middle-section .dashbaord-section .summary-status-main .status-box .deliverd {
  background-color: #00ff1d;
}

.middle-section .dashbaord-section .summary-status-main .status-box .inprogress {
  background-color: #fce013;
}

.middle-section .dashbaord-section .summary-status-main .status-box .cancelled {
  background-color: #d50000;
}

.middle-section .dashbaord-section .chart-main {
  margin-bottom: 20px;
}

.middle-section .dashbaord-section .chart-main .heading h4 {
  font-size: 22px;
  line-height: 27px;
  color: #0d373d;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .middle-section .dashbaord-section .chart-main .heading h4 {
    font-size: 18px;
    line-height: 24px;
    color: #0d373d;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.middle-section .dashbaord-section .chart-main .chart-area {
  padding: 40px 30px;
  background-color: #fff;
}

.middle-section .overview-section {
  margin-top: 60px;
}

.middle-section .overview-section .overview-inner .overview-main .heading {
  margin-bottom: 40px;
}

.middle-section .overview-section .overview-inner .overview-main .heading h4 {
  font-size: 22px;
  line-height: 27px;
  color: #0d373d;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .middle-section .overview-section .overview-inner .overview-main .heading h4 {
    font-size: 18px;
    line-height: 24px;
    color: #0d373d;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.middle-section .overview-section .overview-inner .overview-detail {
  background-color: #fff;
  padding: 20px 40px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
  min-height: calc(100vh - 215px);
}

.middle-section .overview-section .overview-inner .overview-detail .nav-tabs {
  border-bottom: 0;
  margin-bottom: 20px;
}

.middle-section .overview-section .overview-inner .overview-detail .nav-tabs li a {
  color: rgba(13, 55, 61, 0.5);
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0;
  margin: 10px 20px;
  display: block;
  border-bottom: 1px solid #fff;
}

.middle-section .overview-section .overview-inner .overview-detail .nav-tabs li a:hover {
  color: #0d373d;
}

.middle-section .overview-section .overview-inner .overview-detail .nav-tabs li a.active {
  color: #0d373d;
  border-bottom: 1px solid #0d373d;
}

.middle-section .overview-section .overview-inner .overview-detail .overview-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .overview-section .overview-inner .overview-detail .overview-btns .btn-primary {
  -webkit-transform: none !important;
          transform: none !important;
}

.middle-section .overview-section .overview-inner .overview-detail .overview-btns .btn-primary:hover {
  background-color: #0d373d;
  border-color: #0d373d;
}

.middle-section .overview-section .overview-inner .overview-detail .top-tab {
  position: absolute;
  top: -60px;
  right: 20px;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table th {
  color: rgba(9, 52, 59, 0.5);
  background-color: #fff;
  font-weight: 400;
  border: 0;
  font-size: 14px;
  line-height: 18px;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table td {
  border: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #09343b;
  background-color: #fafafa;
  vertical-align: middle;
  border-top: 10px solid #fff;
  white-space: nowrap;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table .select-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table tbody + tbody {
  border: 0 !important;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table .icon-tbl {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table .inprogress,
.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table .inprocess {
  color: #fce013 !important;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table .deliverd {
  color: #00ff1d !important;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table .cancelled {
  color: #d50000 !important;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table .form-group .form-control {
  padding: 15px 15px 15px 15px !important;
}

.middle-section .overview-section .overview-inner .overview-detail .custom-table-div table .close-collapse {
  font-size: 24px;
  color: #09343b;
}

.middle-section .overview-section .overview-inner .overview-detail .invoices-inner .form-group .form-control {
  padding: 15px 15px 15px 15px !important;
}

.middle-section .shipment-section {
  margin-top: 60px;
}

.middle-section .shipment-section .shipment-main .heading h4 {
  font-size: 22px;
  line-height: 27px;
  color: #0d373d;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .middle-section .shipment-section .shipment-main .heading h4 {
    font-size: 18px;
    line-height: 24px;
    color: #0d373d;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 40px 0 50px 0;
  position: relative;
  border-bottom: 0;
  margin-top: 30px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(34, 40, 49, 0.18);
  position: absolute;
  top: 10px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li::before {
  content: "";
  width: 42px;
  height: 42px;
  background-image: url(../images/icons/step.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -50px;
  border: 5px solid #fafbfc;
  background-color: #fafbfc;
  display: block;
  z-index: 3;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px 10px 10px 10px;
  color: #09343b;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  top: -40px;
  z-index: 5;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 70%;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li:first-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 70%;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li.active::before {
  content: "";
  width: 42px;
  height: 42px;
  background-image: url(../images/icons/step-check.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -50px;
  border: 5px solid #fafbfc;
  background-color: #fafbfc;
  display: block;
  z-index: 3;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li.active::after {
  content: "";
  left: 0;
  width: 200%;
  height: 1px;
  background-color: #222831;
  position: absolute;
  top: -30px;
  display: block;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li.done::before {
  content: "";
  width: 42px;
  height: 42px;
  background-image: url(../images/icons/done.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -50px;
  border: 5px solid #fafbfc;
  background-color: #fafbfc;
  display: block;
  z-index: 4;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li.done::after {
  content: "";
  left: 0;
  right: 0;
  width: 180%;
  height: 1px;
  background-color: #1eb7b3;
  position: absolute;
  top: -30px;
  display: block;
  z-index: 2;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li.done:nth-child(2)::after {
  left: 50%;
  width: 100%;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li.active:nth-child(2)::after {
  left: 50%;
  width: 100%;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li:last-child::after {
  display: none !important;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li:last-child::after {
  display: none !important;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body {
  margin-top: 20px;
  background-color: #fff;
  padding: 40px 40px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
  min-height: calc(100vh - 320px);
  border-radius: 7px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment {
  margin-bottom: 20px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment h3 {
  margin-bottom: 20px;
  color: #0d373d;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .form-group label {
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #0d373d;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .form-group .form-control {
  padding: 15px 20px;
  font-weight: 400;
  border-radius: 4px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .input-group {
  width: 100%;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .input-group .input-group-addon {
  top: 32px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .input-group .form-control {
  width: 100%;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment hr {
  border-color: #e8e8e8 !important;
  margin: 20px 0 40px 0;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-right: 40px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .custom-control-label {
  padding-top: 60px;
  position: relative;
  font-size: 12px;
  line-height: 30px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .custom-control-label::after {
  top: 70px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .custom-control-label::before {
  top: 65px;
  color: #fff;
  border-color: #0d373d;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .radio-box {
  width: 104px;
  height: 50px;
  border: 1px solid rgba(13, 56, 63, 0.5);
  display: block;
  position: absolute;
  top: 0;
  left: -23px;
  border-radius: 3px !important;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .radio-box img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio {
  display: inline-block;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .custom-control-input:checked ~ .custom-control-label {
  position: relative;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .custom-control-input:checked ~ .custom-control-label .radio-box {
  border: 1px solid #0d383f;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .custom-control-input:checked ~ .custom-control-label .radio-box .svg-icon-2 {
  background-color: #0d383f;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff;
  border: 2px solid #0d373d;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #0d373d;
  background-image: none;
  border-radius: 100px;
  height: 10px;
  width: 10px;
  left: -19px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio .custom-control-label::before {
  border: 2px solid #0d373d;
  width: 20px;
  height: 20px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .add-shipment-btn .btn {
  height: 60px;
  padding: 15px 40px;
  width: 100%;
  line-height: 30px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .custom-radio {
  display: inline-block;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .custom-radio .custom-control-input:checked ~ .custom-control-label {
  position: relative;
  color: #0d373d;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff;
  border: 2px solid #0d373d;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  top: 0;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #0d373d;
  background-image: none;
  border-radius: 100px;
  height: 10px;
  width: 10px;
  left: -19px;
  top: 5px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .custom-radio .custom-control-label::before {
  border: 2px solid #0d373d;
  width: 20px;
  height: 20px;
  top: 0;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card .card-header {
  background-color: transparent;
  text-align: center;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card .card-body .img-transport {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 92px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card-footer p {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #0d373d;
  margin-bottom: 0;
  font-weight: 400;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card.active {
  border-color: #1eb7b3 !important;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card.active .card-header {
  border-color: #1eb7b3 !important;
  background-color: rgba(0, 84, 213, 0.03);
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card.active .card-header label {
  color: #1eb7b3 !important;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card.active .card-header .custom-radio .custom-control-input:checked ~ .custom-control-label {
  position: relative;
  color: #1eb7b3;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card.active .card-header .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff;
  border: 2px solid #1eb7b3;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card.active .card-header .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #1eb7b3;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .card.active .card-header .custom-radio .custom-control-label::before {
  border: 2px solid #0d373d;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .price-details h3 {
  margin-bottom: 30px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .price-details .price {
  max-width: 200px;
  width: 100%;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .price-details .price p {
  font-size: 16px;
  line-height: 19px;
  color: #0d373d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .price-details .price .total {
  color: #1eb7b3;
  font-weight: 600;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .address-transport h3 {
  margin-bottom: 30px;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .address-transport ul {
  position: relative;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .address-transport ul::after {
  content: "";
  width: 2px;
  height: 95%;
  position: absolute;
  left: 5px;
  top: 0;
  border: 0.5px dashed #1eb7b3;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .address-transport ul li {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #09343b;
  margin-bottom: 30px;
  padding-left: 30px;
  position: relative;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .address-transport ul li::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  left: -2px;
  top: 0;
  border-radius: 100%;
  background-color: #1eb7b3;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .address-transport ul li.location::after {
  content: "";
  background-image: url(../images/icons/location.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -5px;
  top: 0;
  border-radius: 100%;
  background-color: #fff;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .footer-form {
  text-align: right;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .footer-form .btn {
  padding: 8px 60px;
  -webkit-transform: none !important;
          transform: none !important;
}

.middle-section .shipment-section .shipment-form-section .shipment-form-body .footer-form .btn:hover {
  background-color: #09343b;
  border-color: #09343b;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table th {
  color: rgba(9, 52, 59, 0.5);
  background-color: #fff;
  font-weight: 400;
  border: 0;
  font-size: 14px;
  line-height: 18px;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table td {
  border: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #09343b;
  background-color: #fafafa;
  vertical-align: middle;
  border-top: 10px solid #fff;
  white-space: nowrap;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table td:first-child {
  color: #1EB7B3;
  font-weight: 600;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table .select-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table tbody + tbody {
  border: 0 !important;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table .icon-tbl {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table .inprogress,
.middle-section .shipment-section .shipment-form-section .custom-table-div table .inprocess {
  color: #fce013 !important;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table .deliverd {
  color: #00ff1d !important;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table .cancelled {
  color: #d50000 !important;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table .form-group .form-control {
  padding: 15px 15px 15px 15px !important;
}

.middle-section .shipment-section .shipment-form-section .custom-table-div table .close-collapse {
  font-size: 24px;
  color: #09343b;
}

.middle-section .profile-section {
  margin-top: 60px;
}

.middle-section .profile-section .profile-inner .profile-main .heading {
  margin-bottom: 40px;
}

.middle-section .profile-section .profile-inner .profile-main .heading h4 {
  font-size: 22px;
  line-height: 27px;
  color: #0d373d;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .middle-section .profile-section .profile-inner .profile-main .heading h4 {
    font-size: 18px;
    line-height: 24px;
    color: #0d373d;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.middle-section .profile-section .profile-inner .profile-detail {
  background-color: #fff;
  padding: 20px 40px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
}

.middle-section .profile-section .profile-inner .profile-detail .nav-tabs {
  border-bottom: 0;
  margin-bottom: 20px;
}

.middle-section .profile-section .profile-inner .profile-detail .nav-tabs li a {
  color: rgba(13, 55, 61, 0.5);
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0;
  margin: 10px 20px;
  display: block;
  border-bottom: 1px solid #fff;
}

.middle-section .profile-section .profile-inner .profile-detail .nav-tabs li a:hover {
  color: #0d373d;
}

.middle-section .profile-section .profile-inner .profile-detail .nav-tabs li a.active {
  color: #0d373d;
  border-bottom: 1px solid #0d373d;
}

.middle-section .profile-section .profile-inner .profile-detail .profile-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .profile-section .profile-inner .profile-detail .profile-btns .btn-primary {
  -webkit-transform: none !important;
          transform: none !important;
}

.middle-section .profile-section .profile-inner .profile-detail .profile-btns .btn-primary:hover {
  background-color: #0d373d;
  border-color: #0d373d;
}

.middle-section .profile-section .profile-inner .profile-detail .top-tab {
  position: absolute;
  top: -60px;
  right: 20px;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table th {
  color: rgba(9, 52, 59, 0.5);
  background-color: #fff;
  font-weight: 400;
  border: 0;
  font-size: 14px;
  line-height: 18px;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table td {
  border: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #09343b;
  background-color: #fafafa;
  vertical-align: middle;
  border-top: 10px solid #fff;
  white-space: nowrap;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table .select-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table tbody + tbody {
  border: 0 !important;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table .icon-tbl {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table .inprogress,
.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table .inprocess {
  color: #fce013 !important;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table .deliverd {
  color: #00ff1d !important;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table .cancelled {
  color: #d50000 !important;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table .form-group .form-control {
  padding: 15px 15px 15px 15px !important;
}

.middle-section .profile-section .profile-inner .profile-detail .custom-table-div table .close-collapse {
  font-size: 24px;
  color: #09343b;
}

.middle-section .profile-section .profile-inner .profile-detail .profile-inner .form-group label {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #0d373d;
}

.middle-section .profile-section .profile-inner .profile-detail .profile-inner .form-group .form-control {
  padding: 15px 15px 15px 15px !important;
}

.middle-section .profile-section .profile-inner .profile-detail .profile-inner .profile-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .profile-section .profile-inner .profile-detail .profile-inner .profile-user .profile-img {
  height: 186px;
  width: 186px;
  border-radius: 100%;
  overflow: hidden;
}

.middle-section .profile-section .profile-inner .profile-detail .profile-inner .profile-user .profile-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.middle-section .profile-section .profile-inner .profile-detail .profile-inner .profile-user .upload span {
  color: #09343b;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  padding: 8px 10px;
  display: block;
  text-align: center;
}

.middle-section .profile-section .profile-inner .heading-password h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.middle-section .profile-section .profile-inner .footer-profile {
  text-align: right;
  padding-top: 50px;
  padding-bottom: 15px;
}

.middle-section .profile-section .profile-inner .footer-profile .btn {
  padding: 8px 60px;
  -webkit-transform: none !important;
          transform: none !important;
}

.middle-section .profile-section .profile-inner .footer-profile .btn:hover {
  background-color: #09343b;
  border-color: #09343b;
}

.middle-section .address-section {
  margin-top: 60px;
}

.middle-section .address-section .address-inner .address-main .heading {
  margin-bottom: 40px;
}

.middle-section .address-section .address-inner .address-main .heading h4 {
  font-size: 22px;
  line-height: 27px;
  color: #0d373d;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .middle-section .address-section .address-inner .address-main .heading h4 {
    font-size: 18px;
    line-height: 24px;
    color: #0d373d;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.middle-section .address-section .address-inner .address-detail {
  background-color: #fff;
  padding: 40px 40px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
}

.middle-section .address-section .address-inner .address-detail .heading {
  padding: 10px 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-section .address-section .address-inner .address-detail .heading h3 {
  margin-bottom: 20px;
  color: #0d373d;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.middle-section .address-section .address-inner .address-detail .heading a {
  font-size: 16px;
  line-height: 19px;
  color: #1eb7b3;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.middle-section .address-section .address-inner .address-detail .form-group label {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #0d373d;
}

.middle-section .address-section .address-inner .address-detail .form-group .form-control {
  padding: 15px 15px 15px 15px !important;
}

.middle-section .address-section .address-inner .address-detail .input-group {
  width: 100%;
}

.middle-section .address-section .address-inner .address-detail .input-group .input-group-addon {
  top: 32px;
}

.middle-section .address-section .address-inner .address-detail .input-group .form-control {
  width: 100%;
}

.middle-section .address-section .address-inner .footer-address {
  text-align: right;
  padding-top: 50px;
  padding-bottom: 15px;
}

.middle-section .address-section .address-inner .footer-address .btn {
  padding: 8px 60px;
  -webkit-transform: none !important;
          transform: none !important;
}

.middle-section .address-section .address-inner .footer-address .btn:hover {
  background-color: #09343b;
  border-color: #09343b;
}

.middle-section .banner-section {
  background-color: #F7F7F7;
  padding: 50px 0 80px 0;
  position: relative;
  overflow: hidden;
}

.middle-section .banner-section .banner-inner {
  position: relative;
  z-index: 15;
}

.middle-section .banner-section::after {
  content: "";
  background-image: url(../images/pattern.svg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: -65%;
  bottom: -218px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.middle-section .banner-section::before {
  content: "";
  background-image: url(../images/pattern-2.svg);
  background-size: 100% 100%;
  background-position: center;
  display: block;
  position: absolute;
  left: -60%;
  top: 10%;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.middle-section .banner-section .content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 100px 0 150px 0;
}

.middle-section .banner-section .content-left h2 {
  font-size: 74px;
  line-height: 85px;
  color: #09343B;
  margin-bottom: 65px;
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive !important;
}

.middle-section .banner-section .content-left h2 span {
  color: #1EB7B3;
}

.middle-section .banner-section .content-left .btn-primary {
  height: 70px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 24px 50px;
  font-weight: 800;
  z-index: 15;
  position: relative;
}

.middle-section .banner-section .content-right img {
  width: 100%;
}

.middle-section .online-store-section {
  background-color: #FAFBFC;
  padding: 120px 0;
  position: relative;
  overflow: hidden;
}

.middle-section .online-store-section::after {
  content: "";
  background-image: url(../images/pattern.svg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: calc(-66% - 6px);
  top: -73%;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.middle-section .online-store-section .heading {
  margin-bottom: 80px;
}

.middle-section .online-store-section .heading h3 {
  font-size: 32px;
  color: #09343B;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
}

.middle-section .online-store-section .heading h3 span {
  color: #1EB7B3;
}

.middle-section .online-store-section .store-details .store-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.middle-section .online-store-section .store-details .store-box:after {
  content: '';
  background-image: url("../images/line.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40px;
  position: absolute;
  right: auto;
  top: 25px;
  left: 50%;
}

.middle-section .online-store-section .store-details .store-box.line-none:after {
  display: none;
}

.middle-section .online-store-section .store-details .store-box .step {
  height: 92px;
  width: 92px;
  min-width: 92px;
  background-color: #1EB7B3;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin-bottom: 30px;
  border: 16px solid #ffff;
  position: relative;
  z-index: 5;
}

.middle-section .online-store-section .store-details .store-box .step h3 {
  color: #fff;
  font-size: 28px;
  line-height: 28px;
  margin: 0;
}

.middle-section .online-store-section .store-details .store-box .step-content {
  max-width: 218px;
}

.middle-section .online-store-section .store-details .store-box .step-content h4 {
  font-size: 22px;
  line-height: 27px;
  color: #09343B;
  text-align: center;
  margin-bottom: 10px;
}

.middle-section .online-store-section .store-details .store-box .step-content P {
  color: rgba(9, 52, 59, 0.67);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.middle-section .wanttosay-section {
  padding: 120px 0;
  background-color: #F7F7F7;
}

.middle-section .wanttosay-section .heading {
  margin-bottom: 60px;
}

.middle-section .wanttosay-section .heading h3 {
  font-size: 32px;
  color: #09343B;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
}

.middle-section .wanttosay-section .heading h3 span {
  color: #1EB7B3;
}

.middle-section .wanttosay-section .send-us-div {
  text-align: center;
}

.middle-section .wanttosay-section .send-us-div .btn-green {
  height: 70px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 24px 50px;
  font-weight: 800;
}

.middle-section .wanttosay-section .send-us-div .conatct-text {
  padding: 20px 0;
}

.middle-section .wanttosay-section .send-us-div .conatct-text p {
  font-size: 16px;
  line-height: 19px;
  color: #081B1E;
}

.middle-section .wanttosay-section .send-us-div .conatct-text p a {
  color: #081B1E;
}

.middle-section .wanttosay-section .send-us-div .conatct-text p a:hover {
  color: #081B1E;
}

.middle-section .footer-banner-section {
  min-height: 346px;
  background-image: url(../images/footer-img.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
}

.modal .modal-header h5 {
  font-weight: 700;
  color: #0d373d;
}

.modal .form-group label {
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #0d373d;
}

.modal .form-group .form-control {
  padding: 15px 20px;
  font-weight: 400;
  border-radius: 4px;
}

.modal .input-group {
  width: 100%;
}

.modal .input-group .input-group-addon {
  top: 32px;
}

.modal .input-group .form-control {
  width: 100%;
}

.footer-section {
  padding: 120px 0;
}

.footer-section .copy-right {
  margin-bottom: 40px;
}

.footer-section .copy-right p {
  font-size: 14px;
  line-height: 18px;
  color: #081B1E;
  margin-bottom: 0;
  text-align: center;
  font-weight: 500;
}

.footer-section .quick-link {
  text-align: center;
  margin-bottom: 51px;
}

.footer-section .quick-link ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .quick-link ul li {
  display: inline-block;
  position: relative;
}

.footer-section .quick-link ul li a {
  font-size: 14px;
  color: #081B1E;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 0 10px;
}

.footer-section .quick-link ul li a:hover {
  color: #1EB7B3;
}

.footer-section .quick-link ul li::after {
  content: '/';
}

.footer-section .quick-link ul li:last-child::after {
  content: '/';
  display: none;
}

.footer-section .footer-social-media {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.footer-section .footer-social-media:after {
  content: '';
  height: 1px;
  width: 100px;
  background-color: #171717;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.footer-section .footer-social-media ul li {
  margin-right: 33px;
  list-style: none;
  display: inline-block;
}

.footer-section .footer-social-media ul li:last-child {
  margin-right: 0 !important;
}

.footer-section .footer-social-media ul li a {
  height: 44px;
  width: 44px;
  background-color: #081B1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #fff;
  border-radius: 100%;
  -webkit-transition: all 0.3s  ease-in-out;
  transition: all 0.3s  ease-in-out;
}

.footer-section .footer-social-media ul li a:hover {
  background-color: #1EB7B3;
  -webkit-transition: all 0.3s  ease-in-out;
  transition: all 0.3s  ease-in-out;
}

@media (max-width: 767px) {
  .middle-section {
    margin-top: 70px;
  }
  .middle-section .authentication-box .content-box .login-body {
    padding: 30px 25px;
  }
  .middle-section .dashbaord-section .add-shipment-main .add-new-shipment .btn-add-ship {
    height: 50px;
    font-size: 18px;
  }
  .middle-section .dashbaord-section .summary-status-main .summary-status .status-box h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .middle-section .dashbaord-section .summary-status-main .summary-status .status-box p {
    font-size: 14px;
    line-height: 20px;
  }
  .middle-section .dashbaord-section .summary-status-main .summary-status .chart-summary {
    padding: 30px 20px;
  }
  .middle-section .overview-section .overview-inner .overview-detail .top-tab {
    position: relative;
    top: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 20px;
  }
  .middle-section .shipment-section .shipment-form-section .shipment-form-header .shipment-tab li a {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding-right: 0;
    padding-left: 0;
  }
  .middle-section .shipment-section .shipment-form-section .shipment-form-body {
    padding: 30px 20px;
  }
  .middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio {
    margin-right: 30px !important;
  }
  .middle-section .shipment-section .shipment-form-section .shipment-form-body .form-shipment .radio-group .custom-radio:last-child {
    margin-right: 0 !important;
  }
  .middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .price-details .price {
    max-width: unset;
    margin-bottom: 20px;
  }
  .middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .price-details .price p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .address-transport ul::after {
    height: 90%;
  }
  .middle-section .shipment-section .shipment-form-section .shipment-form-body .transport-form .address-transport ul li {
    font-size: 12px;
    line-height: 14px;
  }
  .middle-section .shipment-section .shipment-form-section .shipment-form-body .footer-form .btn {
    padding: 8px 40px;
  }
  .middle-section .address-section .address-inner .address-detail {
    padding: 30px 20px;
  }
  .middle-section .address-section .address-inner .address-detail .footer-address .btn {
    padding: 8px 40px;
  }
  .middle-section .profile-section .profile-inner .profile-detail {
    padding: 30px 20px;
  }
  .middle-section .profile-section .profile-inner .profile-detail .top-tab {
    position: unset;
  }
  .middle-section .profile-section .profile-inner .profile-detail .footer-profile .btn {
    padding: 8px 40px;
  }
  .middle-section .banner-section {
    padding: 60px 0;
  }
  .middle-section .banner-section .content-left {
    padding: 0px 0;
    margin-bottom: 40px;
  }
  .middle-section .banner-section .content-left h2 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 40px;
  }
  .middle-section .banner-section .content-left .btn-primary {
    height: 50px;
    padding: 8px 40px;
    line-height: 34px;
  }
  .middle-section .banner-section .content-right {
    display: block;
  }
  .middle-section .banner-section .content-right img {
    display: block;
  }
  .middle-section .online-store-section {
    padding: 60px 0;
  }
  .middle-section .online-store-section .heading h3 {
    font-size: 26px;
    line-height: 30px;
  }
  .middle-section .online-store-section .store-details .store-box::after {
    display: none;
  }
  .middle-section .online-store-section .store-details .store-box .step {
    height: 60px;
    width: 60px;
    min-width: 60px;
    border: 10px solid #fff;
    margin-bottom: 15px;
  }
  .middle-section .online-store-section .store-details .store-box .step h3 {
    font-size: 20px;
  }
  .middle-section .online-store-section .store-details .store-box .step-content {
    width: 100%;
    max-width: unset;
  }
  .middle-section .wanttosay-section {
    padding: 60px 0 40px 0;
  }
  .middle-section .wanttosay-section .heading {
    margin-bottom: 30px;
  }
  .middle-section .wanttosay-section .heading h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .middle-section .wanttosay-section .send-us-div .btn-green {
    height: 50px;
    padding: 8px 40px;
    line-height: 34px;
    font-size: 16px;
    line-height: 35px;
  }
  .middle-section .footer-banner-section {
    min-height: 190px;
  }
  .footer-section {
    padding: 60px 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .middle-section .banner-section {
    padding: 60px 0;
  }
  .middle-section .banner-section .content-left {
    padding: 0px 0;
    margin-bottom: 40px;
  }
  .middle-section .banner-section .content-left h2 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 40px;
  }
  .middle-section .banner-section .content-left .btn-primary {
    height: 50px;
    padding: 8px 40px;
    line-height: 34px;
  }
  .middle-section .banner-section .content-right {
    display: block;
  }
  .middle-section .banner-section .content-right img {
    display: block;
  }
}
/*# sourceMappingURL=custom.css.map */